:root {
    /* Colors */

    /* Main */
    --background-color: #fff;
    --main-color: #fff;
    --accent-color: #5200FF;

    /* Text */
    --text-color: #282828;
    --text-color-opposite: #fff;
    --text-color-light: #cfd7df;
}

html {
    font-family: 'Overpass', sans-serif;
    color: var(--text-color);
    width: 100%;
}

body {
    margin: 0 auto;
    padding: 0;
}

header {
    display: flex;
    height: 3rem;
    padding: 20px 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 8;
}

#logo {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    max-width: 1030px;
    padding: 0 30px;
    width: 100%;
}

#logo-icon {
    height: 2.5rem;
}

#logo-wordmark {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2rem;
    padding-left: 10px;
    height: 2.5rem;
    vertical-align: bottom;
    line-height: 150%;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.container {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1030px;
    padding: 0 30px;
    width: 100%;
    margin-bottom: 150px;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
}

h2,
h3 {
    font-weight: 400;
    font-size: 1.5rem;
}

strong {
    font-weight: 700;
    color: #F44336;
}

ul {
    padding: 0;
    text-align: left;
}

li {
    list-style: none;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 700px;
    height: 100px;
}

input {
    font-family: inherit;
}

#email-input {
    background: var(--main-color);
    border-radius: 5px;
    border-style: none;
    box-shadow: 0 6px 25px -6px var(--text-color);
    font-size: 1rem;
    overflow: visible;
    padding: 0 24px;
    position: relative;
    transition: 0.5s;

    width: 400px;
    height: 75px;

    font-size: 1.25em;
}

#email-input:focus {
    outline: none;
}

#email-input:valid {
    box-shadow: 0 12px 50px -6px var(--accent-color);
}

#submit-button {
    background-color: var(--accent-color);
    box-shadow: 0 6px 25px -6px var(--text-color);
    padding: 0.5em 1.9em;
    border-radius: 3px;
    font-size: 1.4em;
    cursor: pointer;
    color: #FFFFFF;
    outline: none;
    border: none;
    margin: 1rem;
    transition: 0.5s;

    width: 200px;
    height: 75px;

    text-align: center;
    font-size: 1.25em;
}

#submit-button:hover {
    transform: translateY(2px);
    box-shadow: 0 12px 50px -6px var(--accent-color);
}

footer {
    color: var(--text-color-light);
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    width: 100%;
    text-align: left;
}

/* Drift Chat */
.CHAT {
    padding-bottom: 100px;
}